body {
  background-color: black;
  color: #fff;
  font-size: 16px;
  font-family: 'Itim', cursive;
  font-family: 'Oxygen', sans-serif;  
}
#header-nav {
  background-color: #8E3AAB;
  border-radius: 0px;
  border: 0;
  height: 100px;
}
#logo-img {
  background: url("../images/pngwing\ small.com.png") no-repeat;
  height: 150px;
  width: 200px;
  margin: 10px 5px 5px 10px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1{
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  color: #8B0000;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
}
.navbar-brand p {
  margin-top: 0px;
  color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#main-content {
  margin: 0px 0px 0px 0px;
}



/**** Large Devices ****/
@media (min-width: 1200px) {
  .container .jumbotrom {
    background: url("../images/kratosfer_landing_page_web_design_ux-ui_4k_with_a_superhero_guy_2e7f8dec-ed6f-4ae5-9d5d-0132a5628619.png") no-repeat;
    width: 1920px;
    height: 1080px;
  }
}

/**** medium Devices ****/
@media (min-width: 992px) and (max-widt: 1199px) {
  .container .jumbotrom {
    width: 992px;
  }
}